<template>
  <b-button
    :size="buttonSize"
    :class="isClicked ? buttonClassClicked : buttonClass"
    :pill="buttonPill"
    :title="isClicked ? buttonTitleClicked : buttonTitle"
    variant="light"
    @click="handleClick"
    @blur="resetButton"
  >
    <b-icon aria-hidden="true" :icon="isClicked ? iconClicked : icon" :scale="iconScale" />
  </b-button>
</template>

<script>
export default {
  name: 'ClickIconButton',
  props: {
    icon: {
      required: true,
      type: String
    },
    iconClicked: {
      required: true,
      type: String
    },
    iconScale: {
      required: false,
      type: Number,
      default: 1.0
    },
    buttonSize: {
      required: false,
      type: String,
      default: 'md'
    },
    buttonClass: {
      required: false,
      type: String,
      default: ''
    },
    buttonClassClicked: {
      required: false,
      type: String,
      default: ''
    },
    buttonPill: {
      required: false,
      type: Boolean,
      default: false
    },
    buttonTitle: {
      required: false,
      type: String,
      default: ''
    },
    buttonTitleClicked: {
      required: false,
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isClicked: false
    }
  },
  methods: {
    handleClick() {
      this.isClicked = !this.isClicked
    },
    resetButton() {
      this.isClicked = false
    }
  }
}
</script>
