<template>
  <div>
    <b-select v-model="selected" :options="locationOptions"> </b-select>
  </div>
</template>
<script>
import { ApiMixin, RequestConfig } from '@/mixins/ApiMixin'
import { NotificationMixin } from '@/mixins/NotificationMixin'
import { isEmpty as _isEmpty } from 'lodash'
import { i18n } from '@/plugins/i18n'

export default {
  name: 'LocationFilter',
  mixins: [ApiMixin, NotificationMixin],
  props: {
    value: {
      required: true,
      type: Object
    },
    sensorFilter: {
      required: false,
      type: Object
    }
  },
  data() {
    return {
      defaultLocation: [{ value: {}, text: i18n.t('components.sensorLocationFilter.all-locations') }],
      allLocationOptions: []
    }
  },
  computed: {
    selected: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    },
    selectedSensor: {
      get() {
        return this.sensorFilter
      },
      set(val) {
        this.$emit('sensorChange', val)
      }
    },
    isSensorSet() {
      return this.selectedSensor !== null && !_isEmpty(this.selectedSensor)
    },
    locationOptions() {
      if (this.isSensorSet) {
        return this.defaultLocation.concat(
          this.allLocationOptions.filter(l => l.value.id === this.selectedSensor.sensor_location.id)
        )
      } else {
        return this.defaultLocation.concat(this.allLocationOptions)
      }
    }
  },
  mounted() {
    this.loadAllLocations()
  },
  methods: {
    loadAllLocations() {
      let self = this
      self.getRequest(
        `/sensor_locations/_views/simple`,
        new RequestConfig()
          .onSuccess(res => {
            self.allLocationOptions = this.mapSimpleLocationDtoListToSelectionOptions(res.data)
          })
          .onError(err => {
            console.log('Error occurred while loading sensor location:' + err)
            self.allLocationOptions = []
          })
      )
    },
    mapSimpleLocationDtoListToSelectionOptions(responseData) {
      let options = []
      responseData.forEach(location => {
        options.push({ value: location, text: '#' + location.id + ' - ' + location.city + ' - ' + location.name })
      })
      return options
    }
  }
}
</script>
