/* vue-autosuggest global styles */
.autosuggest__results .autosuggest__results-item {
    padding: 3px 10px;
    text-indent: 0 !important;
}
.autosuggest__results .autosuggest__results-item .my-suggestion-item {
    text-indent: -10px;
    padding-left: 10px;
    display: inline-block;
}

#autosuggest input {
    text-indent: 0 !important;
}
