// Help: https://bootstrap-vue.org/docs/reference/theming/

$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

$font-family-base: $font-family-sans-serif;

$headings-font-weight: 600;

$headings-color: $spot-color-blue;
$navbar-light-active-color: $spot-color-blue;

// new button size: extra small (xs)
$btn-padding-y-xs: 0.15rem;
$btn-padding-x-xs: 0.3rem;
$btn-font-size-xs: 1rem * 0.6;
$btn-line-height-xs: 1.5;
$btn-border-radius-xs: 0.15rem;

// new modal size: extra extra large (xxl)
$modal-xxl: 1380px;

// added new breakpoint and container size: extra extra large (xxl)
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1420px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1380px
);
