// Fonts
@import '~@fontsource/source-sans-pro/400.css';
@import '~@fontsource/source-sans-pro/400-italic.css';
@import '~@fontsource/source-sans-pro/700.css';
@import '~@fontsource/source-sans-pro/700-italic.css';

// Font properties
* {
    // https://nickbulljs.medium.com/3-css-font-properties-you-need-to-use-in-2020-1e60c415b8a8
    font-display: optional;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
