// Bootstrap Breakpoints

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #app > main {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    main {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    #login-reset-container {
        width: 60%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    #login-reset-container {
        width: 50%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #login-reset-container {
        width: 40%;
        max-width: 550px;
    }
}
