// Custom variables
@import '_fonts';
@import '_variables';

// Custom Bootstrap overrides
@import '_bootstrap-overrides';

// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';

// Custom Bootstrap mixins and functions

// new 'xs' button size
.btn-xs {
    @include button-size(
        $btn-padding-y-xs,
        $btn-padding-x-xs,
        $btn-font-size-xs,
        $btn-line-height-xs,
        $btn-border-radius-xs
    );
}

// new 'xxl' modal size
@include media-breakpoint-up(sm) {
    .modal-sm {
        max-width: $modal-sm;
    }
}

@include media-breakpoint-up(lg) {
    .modal-lg,
    .modal-xl,
    .modal-xxl {
        max-width: $modal-lg;
    }
}

@include media-breakpoint-up(xl) {
    .modal-xl,
    .modal-xxl {
        max-width: $modal-xl;
    }
}
@include media-breakpoint-up(xxl) {
    .modal-xxl {
        max-width: $modal-xxl;
    }
}

// Global Autosuggest styling
@import '_autosuggest';

// Custom CSS variables
:root {
    --gray-900: $gray-900;
}

.form-control::placeholder {
    color: #b2b6b9;
}

// override appearance with ^v spinner buttons of <input type="number">
input[type='number'] {
    appearance: textfield;
}

.card-title {
    color: $spot-color-blue;
}

.modal-header.bg-dark.text-light .modal-title {
    color: var(--light);
}

// fix 'vue-simple-alert' layout for $alert
html body.swal2-height-auto {
    height: inherit !important;
}

.datatable {
    thead th {
        vertical-align: middle;
    }

    tbody > tr > td > * {
        // truncate text
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        // don't wrap words to the next line
        white-space: nowrap;
    }
}

// show tooltip over truncated text
.my-tooltip-popper {
    z-index: 9999 !important;
    max-width: 350px;

    .my-tooltip-arrow {
        border-bottom-color: black !important;

        &:after {
            color: black !important;
            border-bottom-color: black !important;
        }
    }
    .my-tooltip-inner {
        color: white !important;
        background-color: black !important;
    }
}

// Multiselect Component
.multiselect {
    .multiselect__tags {
        border-color: #ced4da;
        font-size: inherit;
    }

    .multiselect__tags-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .multiselect__placeholder {
        color: $text-muted;
        padding-top: 1px;
        padding-left: 5px;
        margin-bottom: 8px;
    }

    .multiselect__tag {
        background-color: $secondary;
    }

    .multiselect__tag-icon:hover {
        background: $danger;
    }

    .multiselect__tag-icon::after {
        color: white;
    }

    .multiselect__option--group {
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold;
    }

    .multiselect__option--group:not(:hover),
    .multiselect__option--group:not(:hover)::after {
        background: #dfdfdf;
    }

    .multiselect__option--group::after {
        text-transform: none;
        letter-spacing: 0;
    }
}

// DatePicker controls in Table Control Header
.datePicker.form-control {
    & > button {
        padding: 0.5rem !important;

        & + div + label.form-control.text-muted {
            padding-left: 0;
        }
    }
}

// DateRangePicker
.mx-datepicker {
    & .mx-input {
        font-size: 1rem;
        height: 2.5rem;
    }
    & .mx-icon-calendar {
        right: 1rem;
        color: black;
    }
}

.datepicker-grouped .mx-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
}

/* --- MEDIA QUERIES ----------------------------------------------------------------- */
@import '_media-queries';
