{{! START GOLDFLAM GMBH EXTENSION - add 'is not Nullable' check inside required

Bean validation generates @NotNull annotation also for OA schema properties annotated with `nullable: true` which
in our understanding of the OA Spec is not correct.

Some excerpts from the spec (https://swagger.io/docs/specification/data-models/data-types/):

> By default, all object properties are optional. You can specify the required properties in the `required` list:

> OpenAPI 3.0 does not have an explicit `null` type as in JSON Schema, but you can use `nullable: true` to specify
> that the value may be `null`.

Generating `@NotNull` on all required fields is not correct then – it must only be generated when the property
is not nullable!
}}
{{#required}}{{^isNullable}}
  @NotNull
{{/isNullable}}{{/required}}
{{! END GOLDFLAM GMBH EXTENSION }}
{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}
  @Valid{{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}
  @Valid{{/isPrimitiveType}}{{/isContainer}}
{{>beanValidationCore}}
