# PLEASE NOTE:
# Only add those properties here which override the default property value
# specified in '/api/src/main/resources/application.properties'



### Database configuration ---------------------------------------------------------------------------------------------

## Database URI and credentials
# - 'localhost:33306' or '127.0.0.1:33306' with external DB port when running the DB as Docker container but not the API
# - 'db' or 'db:3306' with internal DB port when running both the API and the DB as Docker containers on the same Docker network
spring.datasource.url=jdbc:mariadb://{{ kinsecta_db_host_internal }}:{{ kinsecta_db_port_internal }}/{{ kinsecta_db_name }}?zeroDateTimeBehavior=convertToNull&tinyInt1isBit=false
spring.datasource.username={{ kinsecta_db_user }}
spring.datasource.password={{ kinsecta_db_pass }}



### App configuration --------------------------------------------------------------------------------------------------

# Public name of the app
app.name={{ kinsecta_app_name }}

# Public API URL, used for e.g. accessing export downloads
app.base-url={{ kinsecta_url_protocol }}://{{ kinsecta_api_url_extern }}

# API Server Port. Must match the 'EXPOSE' setting in 'Dockerfile'
server.port={{ kinsecta_api_port_intern }}

# Spring Boot 2.5+: Enable HTTP/2 over TCP (h2c) - without SSL, since we're running the SpringBoot App either locally or behind a proxy
server.http2.enabled=true
server.ssl.enabled=false

# Temp directory where temporary files will be created and deleted (e.g. during upload or export)
app.temp-directory=/tmp/kinsecta

# JWT secret key. The longer, the better. But max length = 512 chars
app.authentication.jwt-token.secret={{ kinsecta_app_jwt_secret }}

# JWT token expiration in ms. Default: 1h = 3600000ms
app.authentication.jwt-token.expiration={{ kinsecta_app_jwt_expiration }}

# A comma-separated list of additional CORS Allowed Origins (in addition to the frontend base URL, which is always allowed)
app.security.cors.allowed-origins={{ kinsecta_app_security_cors_allowed_origins }}

# Frontend base URL
app.frontend.base-url={{ kinsecta_url_protocol }}://{{ kinsecta_frontend_url_extern }}

# A comma-separated list of allowed Top-Level-Domain for user email addresses, leave empty to allow all
app.account.email-domain-whitelist={{ kinsecta_app_account_email_domain_whitelist }}

# Supported application locales
app.locales.default={{ kinsecta_app_locales_default }}

# Application default locale
app.locales.supported={{ kinsecta_app_locales_supported }}

# Application default Timezone
app.timezone.default={{ kinsecta_app_timezone }}

# Interval at which a task to delete expired exports is triggered, in minutes
app.export.delete.interval={{ kinsecta_app_export_delete_interval }}

# Maximum number of datasets per export
app.export.max-datasets={{ kinsecta_app_export_max_datasets }}

# Enable or disable automatic job scheduling, such as export cleanup or alike
app.scheduler.enabled={{ kinsecta_app_scheduler_enabled }}

# General admin email address for errors and alike
app.contact.sysadmin.email={{ kinsecta_app_contact_sysadmin_email }}



### S3 Object Storage configuration ------------------------------------------------------------------------------------

# S3 storage configuration
# - 'localhost:9090' or '127.0.0.1:9090' with external Minio port when running Minio as Docker container but not the API
# - 'minio' or 'minio:9000' with internal Minio port when running both the API and Minio as Docker containers on the same Docker network
app.s3storage.service-endpoint={{ kinsecta_s3_endpoint }}

# S3 access and secret keys
app.s3storage.access-key={{ kinsecta_s3_access_key }}
app.s3storage.secret-key={{ kinsecta_s3_secret_key }}

# A list of bucket names to use for storing data
app.s3storage.bucket-name.list={{ kinsecta_s3_buckets }}



### GBIF API configuration ---------------------------------------------------------------------------------------------

# Detailed information about the GBIF REST API can be found at:
# https://www.gbif.org/developer/summary

# Base URL of GBIF Api
app.gbif.base-url={{ kinsecta_gbif_api_host }}

# Request URI with placeholder
app.gbif.request-uri=/v1/species/$GBIF_ID$

# Placeholder in Request URI
app.gbif.placeholder=$GBIF_ID$

# Timeout in ms for GBIF Api Client
app.gbif.timeout-in-ms={{ kinsecta_gbif_api_timeout }}



### Mail configuration -------------------------------------------------------------------------------------------------

# Send email notifications; requires extra settings in local dev environments!
app.mail.send-mail={{mail_enabled}}

# SMTP host and port
spring.mail.host={{mail_host}}
spring.mail.port={{mail_port}}

# SMTP credentials
spring.mail.username={{mail_username}}
spring.mail.password={{mail_password}}

# SMTP auth settings
spring.mail.properties.mail.smtp.auth={{mail_smtp_auth}}
spring.mail.properties.mail.smtp.starttls.enable={{mail_smtp_starttls}}

# Email subject prefix; can be used to identify the currently running environment; SHOULD be empty in production environments
app.mail.subject-prefix={{mail_subject_prefix}}

# Redirect all emails sent via JavaMailSenderFacade to this address; MUST be set in local dev environments
app.mail.redirect-address={{mail_redirect_address}}
