# KInsecta App Version
KINSECTA_API_VERSION={{ mvn_project_version }}

# MariaDB Settings
KINSECTA_DB_PORT_EXTERNAL={{ kinsecta_db_port_external }}
KINSECTA_DB_NAME={{ kinsecta_db_name }}
KINSECTA_DB_USER={{ kinsecta_db_user }}
KINSECTA_DB_PASSWORD={{ kinsecta_db_pass }}
KINSECTA_DB_ROOT_PASSWORD={{ kinsecta_db_root_pass }}

{% if kinsecta_s3_use_docker_minio %}
# Minio Settings
KINSECTA_MINIO_PORT=9090
KINSECTA_MINIO_CONSOLE_PORT=9091
KINSECTA_MINIO_ACCESS_KEY={{ kinsecta_s3_access_key }}
KINSECTA_MINIO_SECRET_KEY={{ kinsecta_s3_secret_key }}
DOCKER_MINIO_DATA_DIR={{ kinsecta_app_dir_minio }}
{% endif %}

# Docker Settings
DOCKER_SERVICES_RESTART=always
DOCKER_REGISTRY_BASEPATH={{ kinsecta_docker_registry_basepath }}
DOCKER_CONTAINER_TIMEZONE={{ kinsecta_host_timezone }}

# Docker Data Directories
DOCKER_DATA_DIR={{ kinsecta_app_dir }}
DOCKER_TMP_DATA_DIR={{ kinsecta_app_dir_tmp }}
DOCKER_MYSQL_DATA_DIR={{ kinsecta_app_dir_mysql }}

# Docker Config Directories
DOCKER_CONFIG_DIR={{ kinsecta_config_dir }}
DOCKER_TRAEFIK_CONFIG_DIR={{ kinsecta_config_dir_traefik }}
DOCKER_SPRING_CONFIG_DIR={{ kinsecta_config_dir_springboot }}
DOCKER_VUE_CONFIG_DIR={{ kinsecta_config_dir_vue }}
{% if kinsecta_filebeat_enabled %}
DOCKER_FILEBEAT_CONFIG_DIR={{ kinsecta_config_dir_filebeat }}
{% endif %}

# KInsecta API Settings
KINSECTA_API_URL={{ kinsecta_api_url_extern }}
KINSECTA_API_PORT={{ kinsecta_api_port_intern }}

# KInsecta Frontend Settings
KINSECTA_FRONTEND_URL={{ kinsecta_frontend_url_extern }}

{% if kinsecta_datadog_enabled %}
DATADOG_API_HOST={{ kinsecta_datadog_api_host }}
DATADOG_API_KEY={{ kinsecta_datadog_api_key }}
{% endif %}
