version: "3.7"


networks:
  # A separate network for traefik reverse proxy and all containers managed by traefik
  proxy:
    name: "kinsecta_proxy"
  # An isolated backend network for all internal services
  # https://docs.docker.com/compose/compose-file/compose-file-v2/#internal
  backend:
    name: "kinsecta_backend"
    internal: true
  # A debug network to allow access from the Docker host
  debug:
    name: "kinsecta_debug"


services:
  db:
    container_name: kinsecta_db
    image: mariadb:10.11.8
    restart: unless-stopped
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
      - "MYSQL_ROOT_PASSWORD=${KINSECTA_DB_ROOT_PASSWORD}"
      - "MYSQL_DATABASE=${KINSECTA_DB_NAME}"
      - "MYSQL_USER=${KINSECTA_DB_USER}"
      - "MYSQL_PASSWORD=${KINSECTA_DB_PASSWORD}"
      - "MARIADB_AUTO_UPGRADE=true"
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    # Make the internal port available as ${KINSECTA_DB_PORT_EXTERNAL} on the Docker host to allow
    # - the Docker host to import SQL files to the DB (e.g. via Ansible)
    # - external DB clients to access the DB if the Docker host has this port opened in the firewall
    ports:
      - ${KINSECTA_DB_PORT_EXTERNAL:-33306}:3306
    volumes:
      - ${DOCKER_MYSQL_DATA_DIR}:/var/lib/mysql:rw
    labels:
{% if kinsecta_filebeat_enabled %}
      # ELK
      - "co.elastic.logs/enabled=true"
      - "filebeat.pipeline=gf-mariadb"
{% endif %}
{% if kinsecta_datadog_enabled %}
      # Datadog
      - 'com.datadoghq.ad.logs=[{"source": "mysql", "service": "mariadb"}]'
{% endif %}
    networks:
      - backend
      - debug


  frontend:
    container_name: kinsecta_frontend
    image: ${DOCKER_REGISTRY_BASEPATH}/frontend:${KINSECTA_API_VERSION}
    restart: ${DOCKER_SERVICES_RESTART}
    depends_on:
      - "api"
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
    # Only expose this port on our internal 'backend' network to be accessible by traefik.
    # Therefore, use 'expose' instead of 'ports' which would map it to the Docker host.
    # The port is not configurable as it is defined by the Apache2 Docker image.
    expose:
      - 80
    volumes:
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # mount environment specific config.json
      - ${DOCKER_VUE_CONFIG_DIR}/config.json:/usr/local/apache2/htdocs/config.json:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-http.entrypoints=web"
      - "traefik.http.routers.frontend-http.rule=Host(`${KINSECTA_FRONTEND_URL}`)"
      # HTTP2 Cleartext support for connection between Traefik Proxy and Apache2
      - "traefik.http.services.frontend-http.loadbalancer.server.scheme=h2c"
{% if kinsecta_url_protocol == "https" %}
      - "traefik.http.routers.frontend-https.entrypoints=websecure"
      - "traefik.http.routers.frontend-https.rule=Host(`${KINSECTA_FRONTEND_URL}`)"
      - "traefik.http.routers.frontend-https.tls=true"
      - "traefik.http.routers.frontend-https.tls.certresolver=default"
      # Enable gzip compression for HTTPS
      - "traefik.http.middlewares.gzip-compress.compress=true"
      - "traefik.http.routers.frontend-https.middlewares=gzip-compress@docker"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.frontend-http.middlewares=https_redirect@docker"
{% endif %}
{% if kinsecta_filebeat_enabled %}
      # ELK
      - "co.elastic.logs/enabled=true"
      - "filebeat.pipeline=gf-apache"
{% endif %}
{% if kinsecta_datadog_enabled %}
      # Datadog
      - 'com.datadoghq.ad.logs=[{"source": "apache", "service": "frontend"}]'
{% endif %}
    networks:
      - proxy


  api:
    container_name: kinsecta_api
    image: ${DOCKER_REGISTRY_BASEPATH}/api:${KINSECTA_API_VERSION}
    restart: ${DOCKER_SERVICES_RESTART}
    depends_on:
      - "db"
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
    # Only expose this port on our internal 'backend' network to be accessible by traefik.
    # Therefore, use 'expose' instead of 'ports' which would map it to the Docker host.
    # The port is configurable via the springboot api properties.
    expose:
      - ${KINSECTA_API_PORT:-8080}
    volumes:
      - ${DOCKER_SPRING_CONFIG_DIR}/api.properties:/home/kinsecta/application-ext.properties:ro
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_TMP_DATA_DIR}/api:/tmp/kinsecta:rw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api-http.entrypoints=web"
      - "traefik.http.routers.api-http.rule=Host(`${KINSECTA_API_URL}`)"
{% if kinsecta_url_protocol == "https" %}
      - "traefik.http.routers.api-https.entrypoints=websecure"
      - "traefik.http.routers.api-https.rule=Host(`${KINSECTA_API_URL}`)"
      - "traefik.http.routers.api-https.tls=true"
      - "traefik.http.routers.api-https.tls.certresolver=default"
      # Enable gzip compression for HTTPS
      - "traefik.http.middlewares.gzip-compress.compress=true"
      - "traefik.http.routers.api-https.middlewares=gzip-compress@docker"
      # Redirect HTTP to HTTPS
      - "traefik.http.middlewares.https_redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.https_redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.api-http.middlewares=https_redirect@docker"
{% endif %}
{% if kinsecta_filebeat_enabled %}
      # ELK
      - "co.elastic.logs/enabled=true"
      - "filebeat.pipeline=gf-java"
{% endif %}
{% if kinsecta_datadog_enabled %}
      # Datadog - with multi-line detection, see https://docs.datadoghq.com/agent/logs/advanced_log_collection/?tab=docker#multi-line-aggregation
      - 'com.datadoghq.ad.logs=[{"source": "java", "service": "api", "log_processing_rules": [{"type": "multi_line", "name": "log_start_with_date", "pattern": "\\d{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])"}]}]'
{% endif %}
    networks:
      - backend
      - proxy


{% if kinsecta_s3_use_docker_minio %}
  minio:
    container_name: kinsecta_minio
    image: minio/minio:RELEASE.2024-08-03T04-33-23Z
    hostname: minio
    restart: ${DOCKER_SERVICES_RESTART}
    command: server /data --console-address ":${DOCKER_MINIO_CONSOLE_PORT:-9001}"
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
      - "MINIO_ROOT_USER=${KINSECTA_MINIO_ACCESS_KEY}"
      - "MINIO_ROOT_PASSWORD=${KINSECTA_MINIO_SECRET_KEY}"
    volumes:
      # this allows us to reuse the existing Minio data from previous sessions
      - ${DOCKER_MINIO_DATA_DIR}:/data:rw
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
{% if kinsecta_filebeat_enabled %}
      # ELK
      - "co.elastic.logs/enabled=true"
      - "filebeat.pipeline=gf-minio"
{% endif %}
    ports:
      - "${KINSECTA_MINIO_PORT:-9000}:9000"
      - "${KINSECTA_MINIO_CONSOLE_PORT:-9001}:9001"
    networks:
      - backend
      - debug

  createbuckets:
    image: minio/mc:RELEASE.2024-07-31T15-58-33Z
    depends_on:
      - "minio"
    # the address http://minio is a resource on the internal docker network, therefore the internal minio api port must be specified
    entrypoint: >
      /bin/sh -c "
      until (/usr/bin/mc config host add kinsecta http://minio:9000 \${KINSECTA_MINIO_ACCESS_KEY} \${KINSECTA_MINIO_SECRET_KEY}) do echo '...waiting...' && sleep 1; done;
      /usr/bin/mc mb --ignore-existing kinsecta/kinsecta-0 kinsecta/kinsecta-1 kinsecta/kinsecta-test-0 kinsecta/kinsecta-test-1;
      /usr/bin/mc policy set download kinsecta/kinsecta-0;
      /usr/bin/mc policy set download kinsecta/kinsecta-1;
      /usr/bin/mc policy set download kinsecta/kinsecta-test-0;
      /usr/bin/mc policy set download kinsecta/kinsecta-test-1;
      exit 0;
      "
    networks:
      - backend
      - debug
{% endif %}


  # Reverse Proxy
  traefik:
    container_name: kinsecta_traefik
    image: traefik:2.11.8
    hostname: traefik
    restart: ${DOCKER_SERVICES_RESTART}
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
    # Make these ports available on the Docker host because Traefik acts as a Reverse Proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DOCKER_TRAEFIK_CONFIG_DIR}/traefik.toml:/traefik.toml:ro
      - ${DOCKER_TRAEFIK_CONFIG_DIR}/acme.json:/acme.json:rw
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
{% if kinsecta_filebeat_enabled %}
      # ELK
      - "co.elastic.logs/enabled=true"
      - "filebeat.pipeline=gf-traefik"
{% endif %}
{% if kinsecta_datadog_enabled %}
      # Datadog
      - 'com.datadoghq.ad.logs=[{"source": "traefik", "service": "traefik"}]'
{% endif %}
    networks:
      - backend
      - proxy


{% if kinsecta_filebeat_enabled %}
  # Filebeat
  filebeat:
    container_name: kinsecta_filebeat
    image: docker.elastic.co/beats/filebeat:8.14.3
    command:
      - "-e"
      - "--strict.perms=false"
    user: root
    hostname: filebeat
    environment:
      - "TZ=${DOCKER_CONTAINER_TIMEZONE}"
    volumes:
      - ${DOCKER_FILEBEAT_CONFIG_DIR}/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
      # ELK
      - "co.elastic.logs/enabled=false"
    networks:
      - backend
      - proxy
{% endif %}


{% if kinsecta_datadog_enabled %}
  # Datadog
  datadog:
    container_name: kinsecta_datadog
    image: gcr.io/datadoghq/agent:7.45.1
    hostname: datadog
    environment:
      - DD_SITE=${DATADOG_API_HOST}
      - DD_API_KEY=${DATADOG_API_KEY}
      - DD_HOSTNAME={{ kinsecta_hostname }}
      - DD_LOGS_ENABLED=true
      - DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
      - DD_CONTAINER_EXCLUDE=name:kinsecta_datadog name:kinsecta_filebeat
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /proc/:/host/proc/:ro
      - /opt/datadog-agent/run:/opt/datadog-agent/run:rw
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
      #- /opt/kinsecta/datadog_conf/services.yaml:/etc/datadog-agent/conf.d/services.yaml
      # use the timezone settings from the host
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    labels:
      - "traefik.enable=false"
        # ELK
      - "co.elastic.logs/enabled=false"
    networks:
      - backend
      - proxy
{% endif %}
