# curl -L -O https://raw.githubusercontent.com/elastic/beats/blob/7.17/deploy/docker/filebeat.docker.yml

# Disable Filebeat self-metrics logging
logging.metrics.enabled: false

# Filebeat Default Config
filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false

# Filebeat Autodiscover Config for Docker
filebeat.autodiscover:
  providers:
    - type: docker
      hints:
        enabled: true
        default_config:
          type: container
          enabled: true
          paths:
            - /var/lib/docker/containers/${data.container.id}/*.log
      templates:
        - condition:
            contains:
              docker.container.labels.filebeat.pipeline: "gf-java"
          config:
            - type: container
              enabled: true
              paths:
                - /var/lib/docker/containers/${data.container.id}/*.log
              multiline:
                # Java Multiline pattern: Collect all lines not starting with in a single event
                type: pattern
                pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
                negate: true
                match: after

# Default Processors
processors:
  - add_cloud_metadata: ~
  - add_fields:
      target: 'gf-meta'
      fields:
        application: 'kinsecta-{{ kinsecta_environment }}'

# Default Output
output.logstash:
  hosts: '{{ kinsecta_filebeat_logstash_host }}'

# Debug Output
#output.console:
#  enabled: true
#  codec.json:
#    pretty: true
#    escape_html: false
