[Unit]
Description=The KInsecta Webapp service

[Service]
User={{ kinsecta_user }}

WorkingDirectory={{ kinsecta_app_dir }}

# Log stdout and stderr via 'append' (only works with system.d v240 and later)
StandardOutput=append:{{ kinsecta_log_dir }}/out.log
StandardError=append:{{ kinsecta_log_dir }}/error.log

# Rotate the logs before starting the service
ExecStartPre=/usr/sbin/logrotate --state {{ kinsecta_log_dir }}/status --force /etc/logrotate.d/{{ kinsecta_systemd_service_name }}

# Start & stop commands
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
