[log]
  level = "{{ kinsecta_traefik_loglevel }}" #DEBUG, INFO, WARN, ERROR, FATAL, PANIC

{% if kinsecta_traefik_enable_accesslog %}
# Print AccessLog to stdout and format timestamp according to specified TZ (explicitly dropping UTC timestamp)
# - https://doc.traefik.io/traefik/observability/access-logs/#time-zones
# - https://github.com/traefik/traefik/issues/3870#issuecomment-501576357
[accessLog]
  [fields.names]
    StartUTC = "drop"
{% endif %}

[providers.docker]
  endpoint = "unix:///var/run/docker.sock"
  exposedByDefault = false

[entryPoints]
  [entryPoints.web]
    address = ":80"

{% if kinsecta_url_protocol == "https" %}
  [entryPoints.websecure]
    address = ":443"

[certificatesResolvers]
  [certificatesResolvers.default.acme]
    email = "{{ kinsecta_traefik_acme_email }}"
    storage = "acme.json"
    #caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"
    [certificatesResolvers.default.acme.tlsChallenge]

[tls.options]
  [tls.options.default]
    minVersion = "VersionTLS12"
    cipherSuites = [
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
      "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
      "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305"
    ]
  [tls.options.mintls13]
     minVersion = "VersionTLS13"
{% endif %}
